@import "~antd/lib/style/themes/default.less";
@import "~antd/dist/antd.less";

// There are some major variables below,
// all less variables could be found in
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

// font
@font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// base variables
@border-radius-base: 6px;

// colors
@primary-color: #ed1b23;
@error-color: #fa541c;
@text-color: #626262;

// sider
@layout-sider-background: black;
@menu-bg: transparent;
@menu-item-color: #fff;
@menu-highlight-color: #fff;
@menu-item-active-bg: transparent;
@menu-item-active-border-width: 0px;
@layout-trigger-background: rgba(0, 0, 0, 0.5);

//form
@label-color: @text-color;

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 0px;
}

.ant-form-item-label > label {
  font-weight: bold;
}

.ant-page-header {
  border-radius: @border-radius-base;
}
.ant-table-cell.ant-table-column-sort.ant-table-column-has-sorters {
  min-width: 10px;
}
.ant-btn-checkout{
  background: #0073b7;
  border-color: #0073b7;
}
.ant-btn-checkout:focus{
  background: #0073b7;
  border-color: #0073b7;
  
}
.ant-btn-checkout:hover{
  background: #0073b7;
  border-color: #0073b7;
  
}
.ant-btn-checkout:active{
  background: #0073b7;
  border-color: #0073b7;
  
}

.ant-menu-sub.ant-menu-inline {
  background: black;
}

.menu-dropdown {
  left: 0;
  width: 172px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 17.5rem;
  overflow-y: scroll;
}

.search{
  float: right;
  display: flex;
  gap: 1rem;
}

.menu-container {
  position: relative;
  display: flex;
}

.menu {
  background: rgb(249 249 249);
  border-radius: 8px;
  position: absolute;
  top: 85px;
  right: 0;
  width: 182px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu-trigger {
  background: #f3f1f1;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-top: 3.1rem;
  height: 29px;
  width: 32px;
  border-width: thin;
  border-color: #8080801a;
}

.menu-trigger:hover {
  background: #e6e4e4;
  border-color: #7e7d7d1a;
}

.menu-dropdown .checkbox {
  margin-left: 8px;
  padding: 3px;
}

.other_function {
  display: flex;
}

.ant-row {
  margin-top: 8px !important;
}

.search_by_month{
  width: 80%;
  margin-top: 0.65rem;
}

.ant-form.ant-form-horizontal {
  margin-top: 2rem;
}

.all {
  display: flex;
}
