.detail-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Màu nền */
    width: 100%;

  }
  
  .detail-product-content {
    max-width: 600px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%;
  }
  
  .detail-product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .detail-product-info {
    margin-bottom: 10px;
  }
  
  .detail-product-info p {
    margin-bottom: 5px;
  }
  .detail-info-item{
    display: flex;
  }
  @media screen and (max-width: 768px) {
    .detail-product-content {
      max-width: 90%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .detail-product-content {
      padding: 10px;
    }
  }
    