
.ant-row {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0px;
    margin-top: 24px;
}

.submit {
    text-align: end;
    margin-top: 10px;
    display: flow-root;
    align-items: center;
    margin-left: 47rem;
}