.ant-row {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 0px;
  margin-top: 24px;
}

.submit {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
  align-items: center;
}

.tabUser,
.tabAsset,
.tabLocation {
  margin-top: 23px;
}
.tabUserCheckout {
  margin-top: 3px;
}
.show-asset {
  color: blue;
}
.search-advanced {
  float: right;
  margin-top: 0.5rem;
}
